data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
scripts/__pycache__/__init__.cpython-38.pyc
scripts/__pycache__/architecture.cpython-38.pyc
scripts/__pycache__/mnistParity.cpython-38.pyc
scripts/__pycache__/plot_utils.cpython-38.pyc
scripts/__pycache__/train_utils.cpython-38.pyc
scripts/__pycache__/train.cpython-38.pyc
.ipynb_checkpoints/01-Experiments-checkpoint.ipynb
.ipynb_checkpoints/02-DFA-checkpoint.ipynb
.idea/Dynamics-of-Learning.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
